
.Background {
    position: relative;
    height: 1700px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#svgText {

    width: 50%;

}

.tabIcon {
    width: 20%;
}

img {
    position: absolute;
}

svg path {
    fill: transparent;
    stroke: hsl(124, 46%, 42%);
    stroke-width: 1;
    stroke-dasharray: 110;
    stroke-dashoffset: 0;

}
