* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #4b423c;
}

body {
    background-color: #C0E9EA;
    font-family: "din", -apple-system, system, sans-serif;
    margin-left: 3%;
    margin-right: 3%;
    border-left: #4b423c solid;
    border-right: #4b423c solid;
    border-radius: 1px;

    /* overflow-x:hidden;  --- Класний дизайн, але багато проблем*/
}

main {
    position: relative;
}

.land {
    background-color: #22B14C;
    width: 100%;
    height: 3000px;
}

.land h1 {
    text-align: center;
    font-size: 8vw;
    text-shadow: rgb(70, 70, 70) 1px 1px 10px;
}

.land h2 {
    text-align: center;

}

.land h3 {
    text-align: center;
}

.showOut {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    overflow: hidden;
    flex-flow: row wrap;
}

.showOut div {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    position: relative;
    width: 500px;
    height: auto;
    font-size: x-large;

}

.imageInBox {
    position: relative;
    border: #4b423c 5px solid;
    border-radius: 5px;
    width: 500px;
    box-shadow: rgb(70, 70, 70) 1px 1px 30px;
}

.hoverImageInBox h2 a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 1;

}

.hoverImageInBox ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: #C0E9EA;
    opacity: 0;
    z-index: 1;
}

.hoverImageInBox ul li {
    color: #C0E9EA;
    font-size: 100%;
}

.italic {
    font-style: italic;
    color: #C0E9EA;
    font-size: 70%;
}

.money {
    color: #31bd06;
}

.hoverImageInBox img {
    filter: blur(0) brightness(90%);
}

.projList h2 {
    font-size: 200%;
}

.hoverImageInBox:hover img {
    transition: 0.5s ease-in-out;
    filter: blur(3px) brightness(40%);
    background-color: black;
}

.hoverImageInBox:hover h2 a {
    transition: 0.5s ease-in-out;
    color: white;
    transform: translate(-50%, -150%);

}

#notaLand {
    height: 800px;
}

.applyBox {
    margin-top: 50px;
    padding: 50px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #C0E9EA;
    border: #4b423c 2px solid;
    width: auto;

}

.secLand h2 {}

.secLand div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.applyBox div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
}

.applyBox button {
    width: 50px;
    height: 30px;
}

.hoverImageInBox:hover ul {
    transition: 0.5s ease-in-out;
    opacity: 100;
}

hr {
    border: 1px solid #4b423c;
}

.projList {
    margin-top: 100px;
}

.gallery {
    position: relative;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

.gallery .border {
    z-index: 1;
}

.gallery img {
    height: 100%;
    transition: margin-left 0.5s ease;
}

.gallery button {
    position: relative;
    align-items: center;
    width: 50px;
    height: 50px;
    z-index: 2;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 70px;
}

#gal1 {
    margin-left: -3000px;
}

#gal2 {
    margin-left: 0px;
}

#gal3 {
    margin-left: 3000px;
}

.navTab {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    width: 100%;
    padding: 20px 3%;
    z-index: 1;
    overflow: hidden;
    border-bottom: #4b423c solid;
    border-radius: 1px;
}

.navTab .logo {
    color: #4b423c;
    text-decoration: none;
    font-size: 2em;
}

@media (max-width: 1205px) {
    .mainLand {
        height: 3500px;
    }
}

@media (max-width: 768px) {
    .navTab {
        flex-direction: column;
        /* Stack items vertically */
        padding: 10px 5%;
        /* Reduce padding */
    }

    .navTab .logo {
        font-size: 1.5em;
        /* Adjust font size */
    }

    body {
        margin-left: 0%;
        margin-right: 0%;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;

    }
}

@media (max-width: 480px) {
    .navTab {
        padding: 10px 5%;
        /* Further reduce padding */
    }

    .navTab .logo {
        font-size: 1.2em;
        /* Further reduce font size */
    }



}

.navTab ul {
    position: relative;
    align-items: center;
    display: flex;
    gap: 30px;
}

.navTab ul li {
    list-style: none;
}

.navTab ul li a {
    text-decoration: none;
    color: #4b423c;
}



.Background {
    position: relative;
    height: 1700px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#svgText {

    width: 50%;

}

.tabIcon {
    width: 20%;
}

img {
    position: absolute;
}

svg path {
    fill: transparent;
    stroke: hsl(124, 46%, 42%);
    stroke-width: 1;
    stroke-dasharray: 110;
    stroke-dashoffset: 0;

}

#toDestroy {
    position: absolute;
    background-color: #22B14C;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -150%);
    height: 1000px;
}

#toDestroy h1 {
    margin-top: 200px;
}

.parralax {
    height: 106vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.parralax:nth-child(1) {

    background-image: url("./Background/ProjectPortal.png");
}

.parralax:nth-child(2) {
    background-image: url("./Background/lt.png");
}

.parralax:nth-child(3) {
    background-image: url("./Background/ThatGameStory.png");
}

.content {
    color: green;
    text-align: center;
    padding: 55px;
}

.content h1 {
    margin-top: 150px;
    color: white;
    text-shadow: rgb(0, 0, 0) 2px 0 40px;
}

.content h2 {
    margin-top: 10px;
    color: #C0E9EA;
    text-shadow: rgb(0, 0, 0) 1px 1px 6px;
}

.content button {
    margin-top: 10px;
    width: 200px;
    height: 100px;
    font-size: 150%;
    border: #C0E9EA 10px solid;
}

.content button:hover {
    background-color: #969696;
    transition: 0.5s ease-in-out;
}

footer {

    border-top: #4b423c solid;
}